body {
  font-family: Calibri, sans-serif;
  font-size: 12pt;
  line-height: 1.5;
  margin: 40px;
  color: #333;
}

h1, h2, h3 {
  text-align: center;
}

.mermaid {
  text-align: center;
  margin: 2em 0;
}

.page-break {
  page-break-before: always;
}
